img {
	width: 25px;
	height: auto;
}
a {
	text-decoration: none;
	color: black;
}
h1 {
	font-size: 180%;
}
body {
	font-family: sans-serif;
	font-size: 80%;
}
.my1 {
	color: blue;
	font-weight: bolder;
}
section.my2 {
	position:absolute;
    left:700px;
    right:300px;
    top:0px;
    width: 40%;
}
section {
	width: 50%;
	border: 1px solid;

}
.my3 {
	color: blue;
}
.my4 {
	color: gray;
}